:root {
  --main-bg-color: #eaebec;
  --green-color: #48cfad;
  --whitesmoke: #f8f8f8;
}

* {
  margin: 0;
  padding: 0;
}

html {
  background-color: var(--main-bg-color);
  font-family: 'Montserrat', sans-serif;
  font-family: 'Sora', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  perspective: 1000px;
}

img {
  height: 428px;
  width: 333px;
  border: 1px solid red;
}

.product-card {
  display: flex;
  flex-direction: column;
  width: 335px;
  transition: box-shadow 300ms ease-out;
  border-radius: 18px;
  transition: transform 1.2s;
  overflow: hidden;
  background-color: transparent;
  box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
  perspective: 1000px;
}

.product-card .flip-card {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease-in-out;
  transform-style: preserve-3d;
  
}

.flip-card figure {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card .back {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  position: absolute;
  inset: 0 0 0 0;
  transform: rotateY(180deg);
  background-color: #fff;
}

.back .arrow {
  font-size: 30px;
  opacity: 0.6;
  cursor: pointer;
}

.back .arrow:hover{
  opacity: 1;
}


#arrow-left {
  position: absolute;
  left: 0%;
  top: 45%;
}

#arrow-right {
  position: absolute;
  right: 0%;
  top: 45%;
}

.back .exit-button {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
  opacity: 0.6;
}

.back .exit-button:hover {
  opacity: 1;
}

.back .image-container {
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 300%;
  left: 0;
  transition: transform 0.8s;
}

.product-card:hover {
  box-shadow: 0px 0px 10px 3px;
  /* transform: rotateY(180deg); */
}

.product-card .card-image {
  flex-basis: 70%;
  background-color: var(--whitesmoke);
}

.product-card:hover .overlay {
  opacity: 1.0;
}

.overlay button {
  position: absolute;
  inset: 38% 0 0 28%;
  opacity: 1.0;
  width: 150px;
  height: 40px;
  background-color: transparent;
  color: white;
  border: 2px solid white;
  cursor: pointer;
}

.overlay button:hover {
  
  background-color: white;
  color: var(--green-color);
}


.card-image .overlay {
  position: absolute;
  inset: 0 0 0 0;
  height: 80%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(72, 207, 173, 0.7)
}

.product-card .card-info {
  position: relative;
  padding: 1.75em;
  display: grid;
  grid-template: 
    "product price";
  background-color: #fff;
  flex-basis: 30%;
  overflow: hidden;
  transition: transform 0.4s;
  
  
}

/* Moving card up on hover start */
/* card-move is added to the card-info div when hovered on */

.card-move {
  height: 100%;
  transform: translateY(-100px);

}


/* Moving card up on hover end */

.card-info .info-text {
  grid-area: product;
  display: flex;
  flex-direction: column;
}

.card-info .info-text h1 {
  font-size: 1.25rem;
}

.card-info .info-text p {
  color: #393c45
}

.card-info .price {
  position: absolute;
  grid-area: price;
  font-size: 1.25rem;
  font-weight: bold;
  right: 0;
  color: var(--green-color);
}

.card-info .sizes-colors {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #fff;
  top: 100%;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid black;
}

.sizes-colors .colors, .sizes {
  padding-left: 30px;
}

.sizes-colors h2 {
  font-size: 1rem;
}

.sizes-colors p {
  font-size: 0.8rem;
}

.sizes-colors .sizes {
  padding-bottom: 10px;
}

.available-colors {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.available-colors .color {
  padding: 2px;
  cursor: pointer;
}

.available-colors i:hover {
  font-size: 1.25rem;
}

.available-colors #blue-dot {
  color: blue;
}


.available-colors #red-dot {
  color: red;
}

.available-colors #yellow-dot {
  color: yellow;
}

.available-colors #green-dot {
  color: var(--green-color);
}


/*# sourceMappingURL=style.css.map */