:root {
  --animation-duration: 6s;
}

* {
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
}

body {
  background-color: #212121;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 250px;
  width: 250px;
  margin: auto;
  margin-top: 12em;

  border-radius: 18px;
  box-shadow: 0px 3px 18px 3px rgba(255, 255, 255, 0.2);
  background-color: #080808;

  transition: transform 300ms cubic-bezier(.38, .69, .32, 1.28);
  animation: cycle_shadow var(--animation-duration) linear infinite;
}

.card i {
  font-size: 150px;
  color: red;
  text-shadow: 0px 0px 30px red;


  transition: transform 300ms cubic-bezier(.38, .69, .32, 1.28);
  animation: cycle_colors var(--animation-duration) linear infinite;
}


.card:hover {
  cursor: pointer;
  animation-play-state: paused;
  transform: scale(1.03);
}

.card:hover i {
  animation-play-state: paused;
}


@keyframes cycle_colors {
  0% {
    filter: hue-rotate(0deg) opacity 1.0;
  }

  /* red */
  16.67% {
    filter: hue-rotate(60deg) opacity 1;
  }

  /* orange */
  33.33% {
    filter: hue-rotate(120deg) opacity 1;
  }

  /* yellow */
  50% {
    filter: hue-rotate(180deg) opacity 1;
  }

  /* green */
  66.67% {
    filter: hue-rotate(240deg);
  }

  /* blue */
  83.33% {
    filter: hue-rotate(300deg);
  }

  /* purple */
  100% {
    filter: hue-rotate(360deg);
  }
}

@keyframes cycle_shadow {
  0% {
    box-shadow: 0px 0px 50px 20px hsl(0, 80%, 50%);
  }

  /* red */
  16.67% {
    box-shadow: 0px 0px 50px 20px hsl(60, 80%, 50%);
  }

  /* orange */
  33.33% {
    box-shadow: 0px 0px 50px 20px hsl(120, 80%, 50%);
  }

  /* yellow */
  50% {
    box-shadow: 0px 0px 50px 20px hsl(180, 80%, 50%);
  }

  /* green */
  66.67% {
    box-shadow: 0px 0px 50px 20px hsl(240, 80%, 50%);
  }

  /* blue */
  83.33% {
    box-shadow: 0px 0px 50px 20px hsl(300, 80%, 50%);
  }

  /* purple */
  100% {
    box-shadow: 0px 0px 50px 20px hsl(360, 80%, 50%);
  }
}