:root {
	--prussian-blue: #1E3251;
	--blue-yonder: #4A75BA;
	--bronze: #BD812B;
	--marigold: #DE9F38;

	--image-display-duration: 5s;
}

* {
	margin: 0;
	padding: 0;
}

html {
	width: 100%;
}


body {
	font-family: 'Montserrat', sans-serif;
}


main {
	display: flex;
	justify-content: center;
	column-gap: .5em;

	margin-top: .5em;

	color: var(--prussian-blue);
	background-color: whitesmoke;
}


.left-container,
.right-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	height: 800px;
	width: 35%;
	margin: 2px;
	padding-top: 1em;
	row-gap: .75em;

	background-color: #fff;
	border: 1px solid blue;
}

.left-container {
	position: sticky;
	align-self: flex-start;

}

.right-container {
	align-items: flex-start;
}

/* Start Left Container */
.left-container .current-image {
	display: flex;
	justify-content: center;
	align-items: center;


	width: 90%;
}

.current-image img {
	max-width: 100%;
	aspect-ratio: 1/1;
	object-fit: cover;
	border: none;
	box-shadow: 0px 0px 22px 4px rgba(0, 0, 0, 0.3);
}

.gallery {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 5px;
	width: 90%;
}


.gallery img {
	cursor: pointer;
	max-width: 25%;
	height: auto;
	aspect-ratio: 1/1;
	padding: 2px;

	opacity: 0.6;
	object-fit: cover;
}

.gallery img:hover {
	opacity: 1;
}

/* Start Right Container */
.right-container .product-description {

	text-align: left;
}

.product-selection {
	position: relative;
}

.product-selection h1 {
	color: #85bb65;
}

#size-label {
	float: left;
	padding-right: 5px;
}

.right-container .add-to-cart {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	height: auto;
	font-size: 1.5em;
	

}

.add-to-cart .quantity {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 5px;
	font-size: 1.5em;
	

}

.add-to-cart button {
	width: auto;
	height: 2.7em;
	font-weight: bold;

	border-radius: 5px;
	border: none;
	cursor: pointer;

	background-color: #1E3251;
	color: #fff;

}

.add-to-cart button:hover {
	
	background-color: var(--blue-yonder);
}

.quantity input {
	height: 2.7em;
	width: 2.5em;
	text-align: center;

	border-top: 1px solid gray;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid gray;

	color: gray;
}

.quantity p {
	
	height: 1em;
	width: 1em;
	opacity: 0.6;

	line-height: 1em;
	text-align: center;
	color: gray;
	border: 1px solid gray;

}

.quantity p:hover {
	opacity: 1.0;
	cursor: pointer;
}

.additional-info table, th, td  {
	padding: 15px;

	border: 1px solid gray;
	border-collapse: collapse;
	
}


@media only screen and (max-width: 800px) {
	main {
		flex-direction: column;
	}

	.right-container, 
	.left-container {
		width: 90%;
		height: auto;
	}
}