body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    perspective: 1000px;

    background-color: lightgray;
}

.product-card {
    height: 500px;
    width: 350px;
    transition: all 2s;
    transform-style: preserve-3d;

    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.2);
    

}
/* Eventually replaced with javascript*/
.product-card:hover {
    transform: rotateY(180deg);
}

.front, .back {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    height: 100%;
    width: 100%;

    backface-visibility: hidden;
}

.front {
    background-color: aquamarine;
}

.front .image, .description {
    height: 100%;
    width: 100%;
}



.front .image {
    display: flex;
    justify-content: center;
    height: 80%;
    background-color: #fff;

}

.image img {
    height: 100%;
}



.front .description {
    flex-basis: 20%;
    background-color: whitesmoke;
}



.back {
    background-color: aqua;
    transform: rotateY(180deg);
}