html {
    background-color: lightgray;
}


main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: auto;
    width: 100%;
}

/* ELEMENT STYLES */
input {
    height: 1.5em;
}

textarea, input {
    resize: none;
    font-size: 1.25em;
    border: 1px solid black;
}

textarea:focus, input:focus {
    outline: none;
    box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.3);
}

input, h1, textarea {
    margin: 10px;
}

/* SECTION STYLE */
.product-info, .seo, .product-data {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: left;
    flex-direction: column;
    margin: 10px;
    width: 80%;
    height: auto;

    box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.2);
    background-color: whitesmoke;
}

.section-header {
    width: 100%;
    font-size: 1.25em;
    border: 1px solid black;
    text-align: center;
}
#publish {
    position: absolute;
    top: 30%;
    right: 0;
    width: 100px;
    height: 20px;
}


/* PRODUCT INFO SECTION */
.product-info {

}

.product-header {
    position: relative;
    display: flex;
    align-items: center;
}

.product-header>h1,button {
    margin-right: 20px;
}

.product-header button {
    height: 50%;
}

/* SEO SECTION */
.seo {

}

/* PRODUCT DATA SECTION */
.product-data {
    flex-direction: column;

}
/* Contains the sidebar and the main data */
.product-data-container {
   display: flex;
   align-items: center;
   justify-content: center;
}

.sidebar, .data {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar {
    flex-direction: column;
    flex-basis: 20%;
    border: 1px solid red;
}

.sidebar a {
    width: 100%;
    margin: 5px;

    font-size: 1.25em;
    text-decoration: underline;
    text-align: center;
    cursor: pointer;
    
}

.data {
    flex-basis: 80%;
}

.active {
    background-color: lightgray;
}
